---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}


// =====================
// Dark theme (class-based)
// =====================

/* 다크모드 토글 버튼 스타일 */
#theme-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  border-radius: 999px;
  padding: 0.35rem 0.7rem;
  border: 1px solid #444;
  background: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 1.1rem;
}

body.dark #theme-toggle {
  background: #222;
  color: #eee;
  border-color: #666;
}

/* 여기서부터 실제 다크 테마 */
body.dark {
  /* 전체 배경 + 기본 글자색 */
  background-color: #111 !important;
  color: #e6e6e6 !important;

  /* 링크 색상 */
  a {
    color: #8ab4ff;
  }

  a:hover,
  a:focus {
    color: #c1e0ff;
  }

  /* 상단바, 사이드바, 푸터 등 공통 배경 */
  .masthead,
  .sidebar,
  .page__footer,
  footer.site-footer {
    background-color: #181818 !important;
    color: #e6e6e6 !important;
  }

  /* 본문 카드/박스 쪽 (페이지, 포스트 영역) */
  .page,
  .post,
  .archive,
  .content,
  .wrapper {
    background-color: #181818 !important;
    border-color: #333 !important;
  }

  /* paper-box도 어둡게 */
  .paper-box {
    border-bottom: 1px #333 solid !important;
  }

  /* 코드 블럭 */
  pre,
  code,
  .highlight {
    background-color: #1e1e1e !important;
    color: #f1f1f1 !important;
  }

  /* 표 */
  table {
    background-color: #181818;
  }

  thead {
    background-color: #202020;
  }

  tbody tr:nth-child(odd) {
    background-color: #151515;
  }

  /* 네비게이션 바 (메뉴바) */
  .masthead,
  .masthead .site-nav,
  .masthead .greedy-nav,
  .masthead .greedy-nav .nav__list,
  .masthead .wrapper {
    background-color: #181818 !important;
    color: #e6e6e6 !important;
    border-color: #333 !important;
  }

  /* navbar 링크 색 */
  .masthead a,
  .masthead .nav__item a {
    color: #e6e6e6 !important;
  }

  .masthead a:hover,
  .masthead .nav__item a:hover {
    color: #c1e0ff !important;
  }

  /* 현재 선택된 메뉴(active) 강조 */
  .masthead .nav__item--active > a,
  .masthead .nav__item--current > a {
    color: #ffffff !important;
    border-bottom: 2px solid #c1e0ff !important;
  }

      /* 다크모드에서 링크 색상 전체 개선 */
  body.dark a {
    color: #9fd4ff !important;   /* 밝은 하늘색 */
  }

  body.dark a:hover,
  body.dark a:focus {
    color: #c9e8ff !important;   /* 더 밝은 hover */
  }

  /* arXiv, ACL 등 파란 텍스트에도 일괄 적용 */
  body.dark .archive__item-title a,
  body.dark .page__content a,
  body.dark .post__content a,
  body.dark .nav__item a {
    color: #9fd4ff !important;
  }

  body.dark .archive__item-title a:hover,
  body.dark .page__content a:hover,
  body.dark .post__content a:hover {
    color: #c9e8ff !important;
  }
}
