---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

.pub-venue {
  color: navy !important;
}

/* =====================
   Dark theme (class-based)
===================== */

/* Toggle button */
#theme-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  border-radius: 999px;
  padding: 0.35rem 0.7rem;
  border: 1px solid #444;
  background: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 1.1rem;
}

body.dark #theme-toggle {
  background: #222;
  color: #eee;
  border-color: #666;
}

body.dark .pub-venue {
  color: #a8d8ff !important;   /* 밝은 하늘색 */
}

/* ------------------------
   Dark mode actual styles
-------------------------*/
body.dark {
  /* Base colors */
  background-color: #111 !important;
  color: #e6e6e6 !important;

  /* Global link color (더 밝고 선명하게) */
  a {
    color: #a8d8ff !important;  /* 기존보다 훨씬 밝음 */
  }

  a:hover,
  a:focus {
    color: #d6ecff !important;  /* hover는 거의 흰빛 */
  }

  /* Layout background elements */
  .masthead,
  .sidebar,
  .page__footer,
  footer.site-footer {
    background-color: #181818 !important;
    color: #e6e6e6 !important;
  }

  /* Main content wrappers */
  .page,
  .post,
  .archive,
  .content,
  .wrapper {
    background-color: #181818 !important;
    border-color: #333 !important;
  }

  /* Paper-box */
  .paper-box {
    border-bottom: 1px #333 solid !important;
  }

  /* Code blocks */
  pre,
  code,
  .highlight {
    background-color: #1e1e1e !important;
    color: #f1f1f1 !important;
  }

  /* Tables */
  table {
    background-color: #181818;
  }

  thead {
    background-color: #202020;
  }

  tbody tr:nth-child(odd) {
    background-color: #151515;
  }

  /* Navbar */
  .masthead,
  .masthead .site-nav,
  .masthead .greedy-nav,
  .masthead .greedy-nav .nav__list,
  .masthead .wrapper {
    background-color: #181818 !important;
    color: #e6e6e6 !important;
    border-color: #333 !important;
  }

  .masthead a,
  .masthead .nav__item a {
    color: #e6e6e6 !important;     /* 네비는 그대로 밝은 톤 유지 */
  }

  .masthead a:hover,
  .masthead .nav__item a:hover {
    color: #d6ecff !important;
  }

  .masthead .nav__item--active > a,
  .masthead .nav__item--current > a {
    color: #ffffff !important;
    border-bottom: 2px solid #d6ecff !important;
  }

  /* Publication list (arXiv, ACL, ICASSP 등) */
  .archive__item-title a,
  .page__content a,
  .post__content a {
    color: #a8d8ff !important;
  }

  .archive__item-title a:hover,
  .page__content a:hover,
  .post__content a:hover {
    color: #d6ecff !important;
  }
}
